---

---

<div class="root">
    <img src="/portrait.jpg" />
    <div>
        <p>Hi, I am Peter.</p>
        <p>I am a passionate software developer focusing on front-end development with Typescript and interested in
            Rust, software architecture and everything related to best practices in regards to writing solid code.</p>
        <p>Welcome to my page!</p>
    </div>
</div>
<style>
    .root {
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .root * {
        margin: 20px;
    }

    img {
        width: 200px;
    }
</style>