---
import type {ProjectProps} from "../components/Project.astro";
import Project from "../components/Project.astro";

const projects: ProjectProps[] = [
    {header: "Personal Portfolio Website", description: "This site. Personal page for introduction and personal projects.", githubUrl: "https://github.com/pete-lennart/Facade", image: "/nature.jpg"}
]
---

<div>
    {projects.map(project => <Project {...project} />)}
</div>