---

import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import About from '../contentblocks/About.astro';
import Projects from '../contentblocks/Projects.astro';
import Contact from '../contentblocks/Contact.astro';

const sections = [
    {id: "about", text: "About", content: About, hideHeader: true},
    {id: "projects", text: "Projects", content: Projects},
    {id: "contact", text: "Contact", content: Contact}
];

---

<Layout title="Peter Lehnhardt" sections={sections}>
    <main>
        {sections.map(section => (
            <Section id={section.id} text={section.text} hideHeader={section.hideHeader}>
                <section.content />
            </Section>
        ))}
    </main>
</Layout>

<style>
    h1 {
        margin: 2rem 0;
    }
</style>
