---
import {getCollection} from "astro:content";
import WithHeading from "@layouts/WithHeading.astro";

const projects = await getCollection("project");
---

<WithHeading heading="Projects">
    <ul class="">
        {
            projects.map((project) => (
                <li>
                    <a href={"project/" + project.slug}>{project.data.name}: {project.data.summary}</a>
                </li>
            ))
        }
    </ul>
</WithHeading>
