---
import FrameWithHeading from "@layouts/FrameWithHeading.astro";
import AllUsedTechBadgeList from "@components/AllUsedTechBadgeList.astro";
---
<FrameWithHeading heading="Technologies">
    <p>These are all the technologies, languages, and frameworks I have worked with so far. Some of them have been used in personal projects, some have been used at work. Click on one of the technologies to go to the tech's page. There you can learn more about it and where I have used it.</p>
    <AllUsedTechBadgeList />
</FrameWithHeading>
