---
interface Props {
    class?: string;
}

const {class: className} = Astro.props as Props;
---

<div class:list={["flex", "flex-row", "border-box", "gap-1.5", "place-content-start", "flex-wrap", className]}>
    <slot />
</div>
