---
import {getCollection, CollectionEntry} from "astro:content";
import mainLinks from "@config/mainLinks";

type BreadCrumb = {
    text: string;
    link?: string;
}

type PathData<Parent> = {
    text: string;
    parent: Parent | null;
}

export type PathList<Path extends string, Parent extends String> = Record<Path, PathData<Parent>>

type ProjectPath = `/project/${CollectionEntry<"project">["slug"]}`;
const projects = await getCollection("project");
const allProjectPaths = projects.reduce((accu, project) => {
    const path = "/project/" + project.slug as `/project/${typeof project.slug}`;
    accu[path] = {text: project.data.name, parent: "/projects"};
    return accu;
}, {} as PathList<ProjectPath, "/projects">);

type TechPath = `/tech/${CollectionEntry<"tech">["id"]}`;
const techs = await getCollection("tech");
const allTechPaths = techs.reduce((accu, tech) => {
    const path = "/tech/" + tech.id as `/tech/${typeof tech.id}`;
    accu[path] = {text: tech.data.name, parent: "/techs"};
    return accu;
}, {} as PathList<TechPath, "/techs">);

type MainLinks = typeof mainLinks;
type MainPath = MainLinks[number]["link"];
const mainLinkPaths = mainLinks.reduce((accu, link) => {
    const path = link.link;
    accu[path] = {text: link.text, parent: "/"};
    return accu;
}, {} as PathList<MainPath, "/">);

type Path = ProjectPath | TechPath | MainPath | "/";
const allPaths: PathList<Path, Path> = {
    "/": {text: "Root", parent: null},
    ...mainLinkPaths,
    ...allProjectPaths,
    ...allTechPaths,
};

function normalize(path: Path): Path {
    if (path.endsWith("/")) {
        path = path.slice(0, -1) as Path;
    }
    return path;
}

function getBreadCrumbs(path: Path): BreadCrumb[] {
    const breadCrumbs: BreadCrumb[] = [];
    let currentPath: Path | null = normalize(path);
    while (currentPath !== null) {
        breadCrumbs.unshift({text: allPaths[currentPath].text, link: currentPath});
        currentPath = allPaths[currentPath].parent;
    }
    return breadCrumbs;
}

const currentPath = Astro.url.pathname as Path;
---
<div class="flex flex-row gap-4 items-center">
    {getBreadCrumbs(currentPath).flatMap(node => [
        <svg class="h-2.5" viewBox="0 0 100 100">
            <line stroke-width="16" stroke-linecap="square" x1="31" y1="12" x2="69" y2="50" stroke="black" />
            <line stroke-width="16" stroke-linecap="square" x1="31" y1="88" x2="69" y2="50" stroke="black" />
        </svg>,
        <a class="text-xs font-black" href={node.link}>{node.text}</a>
    ]).slice(1)}
</div>
