---
export interface BreadCrumbs {
    text: string;
    link: string;
}

interface Props {
    breadCrumbs: BreadCrumbs[];
}

const {breadCrumbs} = Astro.props as Props;
---
<div class="flex flex-row gap-4 items-center">
    {breadCrumbs.flatMap(node => [
        <svg class="h-2.5" viewBox="0 0 100 100">
            <line stroke-width="16" stroke-linecap="square" x1="31" y1="12" x2="69" y2="50" stroke="black" />
            <line stroke-width="16" stroke-linecap="square" x1="31" y1="88" x2="69" y2="50" stroke="black" />
        </svg>,
        <a class="text-xs font-black" href={node.link}>{node.text}</a>
    ]).slice(1)}
</div>
