---


---

<button>
    <slot></slot>
</button>
<style>
    button {
        border: none;
        background-color: var(--color-accent);
        padding: 10px 20px;
        border-radius: 4px;
        margin: 0;
        color: var(--color-bg);
        cursor: pointer;
    }
</style>