---
interface Props {
    href: string;
}

const {href} = Astro.props as Props;
---
<a class="inline-block font-bold text-xs mt-4 flex row items-center gap-1" href={href}>
    <slot />
    <svg class="h-2.5" viewBox="0 0 100 100">
        <line stroke-width="16" stroke-linecap="square" x1="0" y1="50" x2="80" y2="50" stroke="black" />
        <line stroke-width="16" stroke-linecap="square" x1="58" y1="20" x2="88" y2="50" stroke="black" />
        <line stroke-width="16" stroke-linecap="square" x1="58" y1="80" x2="88" y2="50" stroke="black" />
    </svg>
</a>
