---
import type {CollectionEntry} from "astro:content";

type Status = CollectionEntry<"project">["data"]["status"];

interface Props {
    status: Status;
    class?: string;
}

function getColorClasses(status: Status): string {
    switch (status) {
        case "In Progress":
            return "border-green-600 text-green-600";
        case "Finished":
            return "border-blue-600 text-blue-600";
        case "On Hold":
            return "border-slate-500 text-slate-500";
        case "Planned":
            return "";
        default:
            throw new Error("Unsupported status");
    }
}

const {status, class: className} = Astro.props as Props;
---

<span class:list={["inline-block text-xs font-bold font-sans", getColorClasses(status), className]}>{status}</span>
