---
import type {SectionInfo} from "./TitleBar.astro";

export interface Props extends SectionInfo {
    hideHeader: boolean | undefined;
}

const {id, text, hideHeader} = Astro.props as Props;

---

<div class="root" id={id}>
    <div class="contentcontainer">
    {!hideHeader && <h1>{text}</h1>}
        <slot />
    </div>
</div>
<style>
    .root {
        background-color: var(--color-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-text);
        padding: 48px 0;
    }

    .contentcontainer {
        padding: 0 20px 0;
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    h1 {
        font-size: 72pt;
        color: var(--color-accent);
        font-weight: 900;
    }

    @media (max-width: 800px) {
        .contentcontainer {
            width: 100%;
        }
    }
</style>
