---
import TechBadge from "@components/TechBadge.astro";

interface Props {
    techs: string[];
    class?: string;
}

const {techs, class: className} = Astro.props as Props;
---

<div class:list={["flex", "row", "border-box", "gap-1.5", "place-content-start", "flex-wrap", className]}>
    {techs.map((tech) => <TechBadge tech={tech} />)}
</div>
