---
import {getEntry} from "astro:content";
import {badgeBaseStyle} from "./styles";

interface Props {
    tech: string;
}

const {tech: techID} = Astro.props as Props;
const tech = await getEntry("tech", techID);
---

<a href={"/tech/" + tech?.id} class:list={[badgeBaseStyle, "border-slate-600", "hover:bg-slate-600", "hover:text-slate-100", "text-slate-600"]}>
    {tech?.data.name}
</a>
