---

export interface SectionInfo {
    id: string;
    text: string;
}

export interface Props {
    sections: Array<SectionInfo>
}

const {sections} = Astro.props as Props;

---

<ul>
    {sections.map((section) => (
        <li><a href={"#" + section.id}>{section.text}</a></li>
    ))}
</ul>
<style>
    :root {}

    ul {
        position: fixed;
        top: 16px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 48px;
        height: auto;
    }
    
    li {
        height: auto;
    }

    a {
        color: var(--color-text);
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 12px;
        transition: all;
        transition-property: all;
        transition-duration: 0s;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-duration: 300ms;
        display: block;
    }

    a:hover {
        background-color: var(--color-accent);
        color: var(--color-bg);
    }
</style>