---
import Frame from "@layouts/Frame.astro";
import BreadCrumbs from "@components/BreadCrumbs.astro";

interface Props {
    heading: string;
    subheading?: string | undefined;
}

const {heading, subheading} = Astro.props as Props;
---

<Frame title={heading}>
    <BreadCrumbs />    
    <h1>{heading}</h1>
    {subheading && <span class="mt-2 text-2xl font-light">{subheading}</span>}
    <slot></slot>
</Frame>
