---
import Frame from "./Frame.astro";

interface PageWithHeaderProps {
    header: string;
}

const {header} = Astro.props as PageWithHeaderProps;
---

<Frame title={header}>
    <h1>{header}</h1>
    <slot></slot>
</Frame>