---
import Empty from "@layouts/Empty.astro";

interface Props {
    heading: string;
    subheading?: string;
}

const {heading, subheading} = Astro.props as Props;
---

<Empty title={heading}>
    <h1 class={subheading? "" : "mb-8"}>{heading}</h1>
    {subheading && <p class="mb-8 mt-2 text-2xl font-light">{subheading}</p>}
    <slot></slot>
</Empty>
